.user-container {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 72px 20px 0px 20px;
  .user-container-view {
    display: flex;
    .login-view-content {
      text-align: left;
      .login-view {
        margin: 10px 0 0;
        h2 {
          font-size: 22px;
          margin: 0 0 16px;
        }
      }
      .login-content-id {
        input {
          margin: 0 0 15px;
          border-left-width: 0;
          border-right-width: 0;
          border-top-width: 0;
          border-bottom: 1.5px solid #d3d3d3;
          width: 100%;
          :focus {
            outline: none;
          }
        }
      }
      .login-content-password {
        text-align: left;
        margin: 0 0 15px;
        input {
          border-left-width: 0;
          border-right-width: 0;
          border-top-width: 0;
          border-bottom: 1.5px solid #d3d3d3;
          width: 100%;
          :focus {
            outline: none;
          }
        }
      }
      a {
        font-size: 11px;
      }
      .login-button-area {
        button {
          min-width: 192px;
          height: 40px;
          width: auto;
          background-color: black;
          color: white;
          margin-top: 14px;
        }
      }
    }
  }
  .login-signup {
    margin-left: 25px;
    .signup-view {
      margin: 10px 0 0;
      h2 {
        font-size: 22px;
        margin: 0 0 16px;
      }
    }
    p {
      font-size: 13px;
      margin: 0 0 12px;
      strong {
        font-weight: 800;
      }
    }
    .login-signup-text {
      span {
        font-size: 13px;
        margin: 10px 0px 30px;
        strong {
          font-weight: 800;
        }
      }
    }
    .signup-button-area {
      button {
        min-width: 192px;
        height: 40px;
        width: auto;
        background-color: black;
        color: white;
        margin-top: 60px;
      }
    }
  }
}
