.signup {
  padding: 0 20px;
  margin: 80px 20px 20px 80px;
  justify-content: center;
  .signupContainer {
    .main-class-header {
      padding: 40px 0 20px;
      h1 {
        font-size: 22px;
      }
    }
    .email-input {
      display: flex;

      margin-top: 36px;
      line-height: 25px;
      input {
        margin: 0 0 15px;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom: 1.5px solid #d3d3d3;
        width: 49%;
      }
      margin-top: 36px;
      line-height: 25px;
    }
    .signup-repassword {
      display: flex;
      .password-input {
        display: flex;
        flex-basis: 50%;
        margin-right: 10px;
        input {
          margin: 17px 0 15px;
          border-left-width: 0;
          border-right-width: 0;
          border-top-width: 0;
          border-bottom: 1.5px solid #d3d3d3;
          width: 100%;
        }
      }

      .repassword-input {
        flex-basis: 50%;
        input {
          margin: 17px 0 15px 15px;
          border-left-width: 0;
          border-right-width: 0;
          border-top-width: 0;
          border-bottom: 1.5px solid #d3d3d3;
          width: 100%;
        }
      }
    }
    .signup-name {
      input {
        margin: 17px 0 15px;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom: 1.5px solid #d3d3d3;
        width: 49.5%;
      }
    }
  }
  .checkboxs {
    font-size: 11px;
    margin-top: 36px;
    line-height: 2;

    .checkbox-each {
      line-height: 2;
      input {
        margin-right: 10px;
        margin-top: 15px;
      }
      span {
        u {
          text-decoration: underline;
        }
      }
    }
  }

  .signup-button-area {
    margin-top: 36px;
  }
}

.signup-button {
  min-width: 192px;
  height: 40px;
  // width: auto;
  background-color: black;
  color: white;

  .signup-button-area {
    // display: flex;
    // flex-flow: column nowrap;
    // width: 100%;
    span {
    }
  }
}
