.signup {
  padding: 0 20px;
  justify-content: center;
  .signupContainer {
    .main-class-header {
      padding: 40px 0 20px;
      h1 {
        font-size: 22px;
      }
    }
    .email-input {
      margin-top: 36px;
      line-height: 25px;

      .email-input-error {
      }
    }
    .signup-repassword {
      display: flex;
      .password-input {
        display: flex;
        margin-right: 10px;
        .password-input-error {
        }
      }
      .signup-repassword {
        .repassword-input-error {
        }
      }
    }
    .signup-name {
      .name-input-error {
      }
    }
  }
  .checkboxs {
    font-size: 11px;
    margin-top: 36px;
    line-height: 30px;

    .checkbox-each {
      input {
        margin-right: 10px;
      }
    }
  }

  .signup-button-area {
    margin-top: 36px;
  }
}

.signup-button {
  min-width: 192px;
  height: 40px;
  // width: auto;
  background-color: black;
  color: white;

  .signup-button-area {
    // display: flex;
    // flex-flow: column nowrap;
    // width: 100%;
    span {
    }
  }
}
