@import '../../../styles/mixin';
@import '../../../styles/variables';

$font-description: 13px;

.dropDownWrapper {
  @include flex(space-between, center);
  position: relative;
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  padding: 10px;
  font-size: $font-description;

  .dropDownButtons {
    &:hover {
      color: $main-black;
    }

    color: $sub-gray;
    cursor: pointer;

    span {
      margin-right: 4px;
    }
  }

  .size {
    position: absolute;
    flex-direction: column;
    top: calc($font-description + 20px);
    width: 150px;
    height: auto;
    background-color: #fff;
    border: 1px solid $main-gray;
    margin: 0 auto;
    padding: 20px 10px;

    label {
      width: 100%;
      margin-bottom: 5px;
      color: $sub-gray;

      input[type='checkbox'] {
        margin-right: 10px;
        color: $sub-gray;
      }
    }
  }

  .sort {
    position: absolute;
    flex-direction: column;
    top: calc($font-description + 20px);
    right: 10px;
    width: 150px;
    height: auto;
    background-color: #fff;
    border: 1px solid $main-gray;
    margin: 0 auto;
    padding: 20px 10px;

    label {
      width: 100%;
      margin-bottom: 5px;
      color: $sub-gray;

      input[type='checkbox'] {
        margin-right: 10px;
        color: $sub-gray;
      }
    }
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}
