@import '../../../styles/mixin';
@import '../../../styles/variables';

$font-main: 24px;
$font-des: 13px;
$font-price: 11px;

$margin-des: 6px;

.imageHolder {
  height: 340px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.description {
  position: relative;
  height: 80px;
  padding: 10px;

  &__name {
    font-size: $font-des;
    margin-bottom: $margin-des;
  }

  &__price {
    font-size: $font-price;
    margin-bottom: $margin-des;
  }

  &__color {
    font-size: $font-price;
  }

  &__wishButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: $font-des;
  }
}
