@import '../../styles/mixin';
@import '../../styles/variables';

$font-main: 24px;
$font-price: 11px;
$font-description: 13px;

.productListContent {
  button {
    all: unset;
  }

  @include flex(center, center);
  flex-direction: column;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffff;

  .header {
    @include flex;
    font-size: $font-main;
    height: 80px;
  }

  .headerDescription {
    font-size: 13px;
    text-align: center;
    line-height: 2;
    margin: 20px auto;

    button {
      border-bottom: 1px solid $main-gray;
      cursor: pointer;
    }
  }

  .contour {
    width: 100%;
    border-bottom: 0.8px $main-gray solid;
  }

  .dropDownWrapper {
    @include flex(space-between, center);
    position: relative;
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    padding: 10px;
    color: $sub-gray;
    font-size: $font-description;
    font-weight: 300;

    .filter {
      @include flex;

      .resetFilterButton {
        &:hover {
          color: $main-black;
        }

        margin-left: 4px;
        cursor: pointer;
      }
    }

    .sort {
      @include flex;

      button {
        width: 100px;
        height: 25px;
        margin: 0 4px;
        border: 1px solid black;
        background-color: $main-black;
        color: #fff;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .productListWrapper {
    @include flex;
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
    padding: 10px;

    .productLink {
      @include flex;
      width: calc(100% / 4 - 20px);
      height: 480px;
      margin: 30px 10px;
    }
  }

  @keyframes loadingAnimation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .loading div {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid $main-gray;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loadingAnimation 1s linear infinite;
    top: 100px;
    left: 100px;
  }

  .loadingSpinner {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }

  .loading {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }

  .loading div {
    box-sizing: content-box;
  }
}
