@import '../../styles/mixin';
@import '../../styles/variables';

$font-main: 24px;
$font-price: 11px;

.productListContent {
  @include flex(center, center);
  flex-direction: column;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 72px;
  padding: 10px;
  background-color: #ffff;

  .header {
    @include flex;
    font-size: $font-main;
    height: 100px;
  }

  .contour {
    width: 100%;
    border-bottom: 0.8px $main-gray solid;
  }

  .productListWrapper {
    @include flex;
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
    padding: 10px;

    .productLink {
      @include flex;
      width: calc(100% / 4 - 20px);
      height: 420px;
      margin: 30px 10px;
    }
  }
}
