@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

// Font
$font-logo: 'Montserrat', sans-serif;
$font: 'Noto Sans KR', sans-serif;

// Color
$main-black: #000;
$main-gray: #bbb;
$sub-gray: #a8a8a8;
$key-color: #83c9da;
