@use '../../styles/mixin' as mixin;
@import '../../styles/variables';

.Nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #fff;

  .navInner {
    @include mixin.flex($justify: space-between);
    margin: 0 auto;
    width: 1200px;
    height: 72px;

    h1 {
      text-align: center;
      letter-spacing: 5px;
      font-size: 25px;
      font-weight: bold;
      font-family: $font-logo;
    }

    ul.categories {
      left: -150px;
      font-size: 15px;
    }

    ul.myMenu {
      font-size: 13px;
      color: #1b1b1b;

      > li > div.cartWarp {
        background: #eee;
      }
    }

    > ul > li {
      display: inline-block;
      margin-left: 20px;
      cursor: pointer;
      padding: 2rem 0;

      &.women:hover .dropdown {
        transform: scale(1);
      }

      > div {
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        height: 100vh;

        > span {
          display: inline-block;
          margin: 15px 0;
          font-size: 18px;
        }

        > input {
          position: absolute;
          bottom: 10px;
          left: calc(50% - 45%);
          width: 90%;
          padding: 3px 0;
          border: none;
          background: #000;
          color: #fff;
        }
      }
    }

    .searchBox {
      position: absolute;
      right: calc(50vw - 335px);
      transform-origin: right;
      transform: scale(0, 1);
      transition: transform 0.5s ease-out;

      svg {
        margin-right: 2px;
      }

      input {
        width: 90px;
        border: none;
        border-bottom: 1px solid #000;
      }

      &.activated {
        transform: scale(1);
      }
    }
  }
}
